<header class="top-bar">
  <div class="top-bar-inner">
    <div class="logo" (click)="onBackToHomeClick()">
      <span class="logo-uni">Uni</span><span class="logo-finder">Finder</span>
    </div>
  </div>

  <div class="search-wrapper" *ngIf="!showingFavorites">
    <div class="search-bar">
      <input
        type="text"
        class="search-input"
        placeholder="Cerca la tua università"
        [(ngModel)]="searchTerm"
        (keyup.enter)="onSearchClick()"
      />

      <select
        class="country-select"
        [(ngModel)]="selectedCountry"
        (change)="onCountryChange()"
      >
        <option *ngFor="let c of countries" [value]="c">
          {{ c }}
        </option>
      </select>

      <button class="reset-button" (click)="onResetClick()">
        RESET
      </button>
      
      <button class="search-button" (click)="onSearchClick()">
        CERCA
      </button>
          <button class="favorites-nav-button" (click)="onFavoritesClick()">
      Preferiti
    </button>
    </div>


  </div>

  <!-- 🔥 QUANDO SEI NEI PREFERITI MOSTRIAMO SOLO IL BOTTONE TORNA HOME -->
  <div class="search-wrapper" *ngIf="showingFavorites">
    <button class="search-button" (click)="onBackToHomeClick()">
      ← Torna alla Home
    </button>
  </div>
</header>
